
.container {
    height: 100vh; /*bitno*/
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    /* max-width: 100%; */
    background: #e7ecf4;
  }

  .loginBox {
    /* display: flex;
    flex-direction: row; */
    max-width: 2200px;
    width: 100%;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.rectangle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #041733;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 23px;
}

.rectangle a:hover{
        transform: scale(1.05); 
        transition: transform 0.4s ease; 
}

.loginBox form {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-top: 17px;
}

.loginBox input[type="text"] {
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 8px;
    outline-color: #051d41;
    background-color: #f7f8fa;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* .text {
    font-size: 1.2vw;
    text-align: left;
    color: #051d41;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-bottom: 5%;
    align-self: flex-start;
    padding-top: 5%;
    width: 100%;
} */

/* .rectangle kategorija {
    color: red;
} */

@media (max-width: 768px) {
    .container{
        height: 170vh;
    }

    .loginBox {
        height: 500px;
    }

    .tekst {
        font-size: 1rem;
        padding-bottom: 8%;
        max-width: 100%;
        margin-right: 0;
    }

    .loginBox input[type="text"] {
        display: none;
    }

}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        height: 220vw;
    }
    .container p {
        word-wrap: break-word;
        max-width: 100%; /* Ensure the text doesn't overflow the container */
    }

}
