
  .loginBox {
    display: flex;
    padding: 20px;
    height: 120vh;
    /* padding-bottom: 180px; */
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: column;
    background: #e7ecf4;
    width:max-content;
}

/* .icon {
    height: 10vw;
    width: 10vw;
    padding: 2.5vw;
  } */

.centeredImage {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px rgba(71, 71, 71, 0.3);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(71, 71, 71, 0.3));
    background-color: #cedaeb; 
    justify-items: start;
    align-self: center;
    padding: 23%;
  }

  /* .centeredImage img {
    max-width: 100%;
    max-height: 100%;
  } */
 
  .centeredImage:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }

@media (max-width: 768px) {

  .loginBox {
    height: 120vh;
    width: 100%;
  }

    .loginBox p {
      word-wrap: break-word;
      max-width: 100%; /* Ensure the text doesn't overflow the container */
  }

  /* .centeredImage {
    max-width: 50%; 
    max-height: auto;
    margin: 0 auto;
    padding: 23%;
} */

  /* .centeredImage img {
    max-width: 100%;
    max-height: 100%;
  } */

  .centeredImage {
    display: none;
  }

}
